<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
      <rewrite>
         <rules>
             <rule name="redirect all requests" stopProcessing="true">
                 <match url="^(.*)$" ignoreCase="false" />
                 <conditions logicalGrouping="MatchAll">
                     <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" pattern="" ignoreCase="false" />
                 </conditions>
                 <action type="Rewrite" url="index.html" appendQueryString="true" />
             </rule>
         </rules>
     </rewrite>
      <httpErrors>
          <remove statusCode="404" subStatusCode="-1" />
          <remove statusCode="500" subStatusCode="-1" />
          <error statusCode="404" path="/survey/notfound" responseMode="ExecuteURL" />
          <error statusCode="500" path="/survey/error" responseMode="ExecuteURL" />
      </httpErrors>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
