.site-content {
    flex: 1;
    padding-bottom: 40px;
}

.boxed {
    width: 100%;
    max-width: $site-max-width;
    align-self: center;
}

.content-padding {
    padding: 0 40px;
}

.two-columns {
    display: flex;
    
    &>* {
        width: 50%;
    }
    &>*:nth-of-type(1) {
        padding-right: 20px;
    }
}
