.site-content {
    flex: 1;
    padding-bottom: 40px;
}

.boxed {
    width: 100%;
    max-width: $site-max-width;
    align-self: center;
}

.content-padding {
    padding: 0 40px;
}

.two-columns {
    display: flex;

    &>* {
        width: 50%;
    }
    &>:first-child {
        padding-right: 40px;
    }
}

@media (max-width: $ipad-max-width) {
    .two-columns {
        flex-direction: column;

        &>* {
            width: 100%;
            margin-bottom: 40px;
        }

        &>:first-child {
            padding-right: 0;
        }
    }
}
