body {
    font-family: $font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $black;
    font-size: $font-size-md;
}

/*
 * Elements
 */
a {
    color: $red;
}
h1 {
    font-size: $font-size-xxl;
    line-height: 120%;
}
h2 {
    font-size: $font-size-xl;
    line-height: $font-size-xl;
}


/*
 * Building blocks
 */
.site-content {
    h1.section-header,
    h2.section-header {
        margin-top: 60px;
        text-transform: uppercase;
        border-bottom: solid $green 2px;
        color: $green;
    }
}

// Add to the first section on a page
// to push content down below logo circle
.header-padding {
    padding-top: 80px;
}
@media (max-width: $mobile-max-width) {
    .header-padding {
        padding-top: 0px;
    }
}

.cc-panel {
    padding: 20px 40px;
    background-color: $white;
    border-radius: 6px;
    border: solid 1px $green;
}

img.inline-image {
    width: 200px;
    border: solid 2px $red;
    border-radius: 3px;
    float: left;
    margin: auto 20px 8px auto;
}

// For UI elements whose children should be
// side by side on desktop
// and stacked on mobile/table
.stacked-on-mobile {
    display: flex;
    flex-direction: row;
    &>* {
        flex-grow: 1;
    }
    &>:first-child {
        padding-right: 40px;
    }
}
@media (max-width: $ipad-max-width) {
    .stacked-on-mobile {
        flex-direction: column;
        &>:first-child {
            padding-right: 0;
        }
    }
}


/*
 * Display helpers
 */
.italic {
    font-style: italic;
}
.strong {
    font-weight: bold;
}
@media (min-width: $ipad-pro-min-width) {
    .hidden-tablet {
        display: none;
    }
}
@media (max-width: $ipad-max-width) {
    .hidden-mobile {
        display: none;
    }
}

/*
 * Colors
 */
.red {
    color: $red;
}
.red-xdark {
    color: $red-xdark;
}

.green {
    color: $green;
}
.green-xdark {
    color: $green-xdark;
}
