// COLORS
$red: #db2c32;
$green: #005200;
$logo-yellow: #ffe600;

$green-dark: darken($green, 10%);
$green-x-dark: darken($green, 10%);
$green-light: lighten(desaturate($green, 65%), 15%);
$green-x-light: lighten(desaturate($green, 55%), 75%);

$red-light: lighten(desaturate($red, 15%), 5%);
$red-dark: darken($red, 10%);
$red-x-dark: darken($red, 30%);

$orange: lighten(mix($logo-yellow, $red), 15%);

$yellow: lighten(desaturate($logo-yellow, 0%), 10%);
$yellow-light: lighten(desaturate($logo-yellow, 15%), 25%);
$yellow-x-light: lighten(desaturate($logo-yellow, 45%), 45%);
$yellow-x-dark: darken(desaturate($logo-yellow, 45%), 45%);

$brown-x-light: lighten(mix($red, $green), 65%);

$black: darken(desaturate($green, 25%), 10%);
$white: $yellow-x-light;


// FONTS
$font-family--body: 'Open Sans', sans-serif;
$font-family--heading: 'Dosis', arial, helvetica, sans-serif;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 18px;
$font-size-lg: 20px;
$font-size-xl: 32px;
$font-size-xxl: 36px;


// LAYOUT
$site-max-width: 1200px;


// BREAKPOINTS
$mobile-max-width: 767px;
$tablet-min-width: 768px;
$tablet-max-width: 1024px;
$desktop-min-width: 1025px;

$small-phone-max-width: 413px; // Just smaller than iphone6 plus
$ipad-max-width: 768px;
$ipad-pro-min-width: 769px;
