$black: #999;
$red: #FF1901;
$green: #086401;
$yellow: #FEFF01;


$font-family: arial, helvetica, sans-serif;

$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-md: 16px;
$font-size-lg: 24px;
$font-size-xl: 28px;
$font-size-xxl: 36px;
